/* raleway -  inter font  */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

.font-raleway {
  font-family: "Raleway", sans-serif;
}
.font-inter {
  font-family: "Inter", sans-serif;
}
/* 100 */
.heading-color {
  color: #030712;
}
/* 80 */
.sub-heading {
  color: #030712cc;
}
/* 50 */
.primary-paragraph {
  color: #03071280;
}
/* 40 */
.sub-text {
  color: #03071266;
}
.paragraph-color-text {
  color: #1dd100;
}
.primary-green {
  background: #1dd100;
}
